@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url(img/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

span {
    font-weight: 700;
}

.pattern-1 {
    position: absolute;
    right: 0;
    top: -107px;
    z-index: -99;
}

.container {
    max-width: 1110px;
    margin: 62px auto 91px;
}

h1 {
    margin-top: 127px;
    margin-bottom: 40px;
    width: 850px;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    color: #191826;
}

.intro p {
    width: 850px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
}

.middle {
    position: relative;
    margin: 321px 0 202px;
    width: 100%;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;
}

.illustration-img {
    position: absolute;
    top: -213px;
    left: 10%;
    width: 300px;
    z-index: 2;
}

.pattern-2 {
    position: absolute;
    top: -50px;
    left: 30%;
    z-index: 1;
}

.premium {
    position: absolute;
    top: 90px;
    right: 10%;
    width: 446px;
    height: 625px;
    padding: 58px 59px 48px 54px;
    background-color: #FA7453;
    border-radius: 12px;
    z-index: 2;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FCFAF9;
}

.premium p {
    margin-top: 22px;
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FCFAF9;

}

.price {
    display: flex;
    align-items: center;
}

h2 {
    margin-right: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
}

.price p {
    margin: 0;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.ios-download-btn {
    margin-top: 46px;
    margin-bottom: 16px;
    padding: 15px 93px 14px;
    display: flex;
    align-items: center;
    background-color: #191826;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
}

.ios-download-btn:hover {
    background-color: #66E2DC;
    cursor: pointer;
}

.ios-download-btn p {
    margin: 0;
    margin-left: 9px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}

.android-download-btn {
    padding: 15px 75px 14px;
    display: flex;
    align-items: center;
    background-color: #FCFAF9;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
}

.android-download-btn:hover {
    background-color: #FFB964;
    cursor: pointer;
}

.android-download-btn p {
    margin: 0;
    margin-left: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.equalizer {
    display: flex;
    align-items: flex-start;
}

.equalizer p {
    margin-left: 138px;
    width: 366px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}

.social {
    display: flex;
    gap: 20px;
}

svg {
    fill: #191826;
    transition: 0.3s;
}

svg:hover {
    fill: #FA7453;
    cursor: pointer;
}

/******************************************** Responsive  ********************************************/

@media (max-width: 1000px){
    .container {
        width: 90%;
    }

    h1 {
        margin-top: 95px;
        margin-bottom: 28px;
        width: 520px;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
    }

    .intro p {
        width: 514px;
        font-size: 18px;
        line-height: 28px;
    }

    .middle {
        margin: 249px 0 183px;
    }

    .equalizer {
        flex-direction: column;
    }

    .equalizer p {
        margin-left: 0;
        margin-top: 32px;
    }
}

@media (max-width:768px){
    .pattern-1 {
        display: none;
    }

    header {
        width: 327px;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    h1 {
        margin: 64px auto 20px;
        width: 327px;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.454545px;
    }

    .intro p {
        width: 327px;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
    }

    .middle {
        margin-top: 166px;
        margin-bottom: 400px;
    }

    .illustration-img {
        width: 209px;
        top: -98px;
        left: 50%;
        transform:translate(-50%);
    }

    .pattern-2 {
        top: 0;
        left: 50%;
        transform:translate(-50%);
    }

    .premium {
        padding: 48px 36px;
        top: 380px;
        left: 50%;
        transform:translate(-50%);
        width: 375px;
        height: 546px;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .premium p {
        margin-top: 12px;
        margin-bottom: 36px;
        font-size: 18px;
        line-height: 28px;
    }

    .ios-download-btn {
        margin-top: 32px;
        padding: 15px 77px;
    }

    .ios-download-btn p {
        margin: 0;
        margin-left: 9px;
    }

    .android-download-btn {
        padding: 15px 59px;
    }

    .android-download-btn p {
        margin: 0;
        margin-left: 9px;
    }

    footer {
        width: 327px;
        margin: 0 auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .equalizer {
        width: 327px;
        margin: 0 auto;
    }

    .equalizer p {
        width: 297px;
        margin-bottom: 64px;
    }
}